<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.imgtec.powervr.ddk.gles2test1">
	<application android:label="GLES2Test1">
		<activity android:name="GLES2Test1"
		          android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
		          android:launchMode="singleTask"
		          android:configChanges="orientation|keyboardHidden">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.TEST"/>
			</intent-filter>
		</activity>
	</application>
</manifest>
